
body{
      #container{
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 1% 10% 1% 10%;
          }
      .delete{
        background-color: red;
        float: right;
        border: 2px red solid;
        color: white;
        font-size: 20px;
        border-radius: 5px;
      }
      h1{
        color: white
      }
        .card{
          padding: 5px;
          border-radius: 5px;
          width: 200px;
          height: auto;
          margin: 10px;
        }
        .card:nth-child(odd){
          background: #eeca05;
        }
        .card:nth-child(even){
          background: deepskyblue;
        }

  }