
body{
   background-color: whitesmoke;

  .form{
    width: 50%;
    margin: 2% 0 0 25%;
    padding: 2%;
    height: auto;
    min-height: 300px;
    input{
      margin: 0 0 2% 7% ;
      width: 80%;
      height: 40px;
      border: 2px solid NAVY;
    }
    textarea{
        margin: 0 0 2% 7% ;
        width: 80%;
        height: 150px;
        border: 2px solid NAVY;
    }
    fieldset{
      padding: 5%;
      border: 1px solid NAVY;
      width: 70%;
      height: auto;
      box-shadow:10px 5px 7px gray ;
      border-radius: 10px;
    }
    legend{
      color: orange;
      margin-left: 7%;
      font-weight: bold;
      font-size: 20px;
    }
    button{
      width: 100px;
      height: 30px;
      background: orange;
      color: NAVY;
      border: orange solid 2px;
      border-radius: 5px;
      font-weight: bold;
      margin-left: 7%;
    }
    button:hover{
      background: NAVY;
      color: white;
      border: navy solid 2px;
    }
    label{
      margin-left: 7%;
      font-weight: bold;
    }

  }
}

@media only screen and (max-width : 780px) {
body{
    .form{
        width: 90%;
        margin-left: 10%;
    }
}

}